/* общее start */
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

html {
  -webkit-text-size-adjust: 100%; 
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

body {
	margin: 0;
	font-size: 16px;
	font-family: 'Raleway-Regular';
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
	outline: none;
}
/* общее end */

/* header start */
header {
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px -7px 35px 0px #000;
  -moz-box-shadow: 0px -7px 35px 0px #000;
  box-shadow: 0px -7px 35px 0px #000;
}

.header-content {
  width: 1200px;
  height: 90px;
  line-height: 90px;
  margin: auto;
}

.header-content .logo img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.header-menu {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 40px;
  padding: 0;
}

.header-menu li {
  display: inline-block;
  margin-right: 40px;
  list-style-type: none;
}

.header-menu li a {
  font-size: 24px;
  color: #282828;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header-menu li a:hover {
  color: #243d9a;
}

.header-buttons {
  float: right;
}

.header-languages {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  height: 50px;
  line-height: 50px;
}

.header-languages > span {
  display: inline-block;
  width: 90px;
  line-height: 50px;
  background-color: #243d9a;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
}

.header-languages > span:after {
  display: inline-block;
  content: '';
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 8px solid #fff;
  border-bottom: 5px solid transparent;
  margin-left: 10px;
  vertical-align: middle;
  margin-top: -4px;
}

.header-languages div {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #243d9a;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}

.header-languages:hover div {
  opacity: 1;
  visibility: visible;
}

.header-languages div a {
  display: block;
  padding: 10px 0;
  text-align: center;
  color: #fff;
  line-height: 1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header-languages div a:hover {
  background-color: #1a2c6d;
}

.header-login {
  display: inline-block;
  line-height: 50px;
  background-color: #243d9a;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  vertical-align: middle;
  color: #fff;
  padding: 0 25px;
  font-size: 24px;
  margin-left: 25px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header-login:hover {
  background-color: #1a2c6d;
}
/* header end */

/* footer start */
.footer-top {
  background-color: #8d97b9;
  width: 100%;
  padding: 50px 0;
}

.footer-top-content {
  width: 1200px;
  margin: auto;
  font-size: 0;
}

.footer-top-content div {
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

.footer-top-content div span {
  display: block;
  font-size: 24px;
  color: #22409a;
}

.footer-top-content div a {
  display: block;
  font-size: 24px;
  color: #22409a;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer-top-content div a:hover {
  color: #fff;
}

.footer-bottom {
  width: 100%;
  background-color: #2942a0;
}

.footer-bottom-content {
  width: 1200px;
  margin: auto;
  line-height: 90px;
  color: #fff;
  font-size: 24px;
}

.footer-bottom-content span {
  display: block;
  float: right;
} 
/* footer end */

/* popup start */
.hidden {
  display: none;
}

.popup {
  position: relative;
  background-color: #fff;
  margin: auto;
  width: 500px;
  padding: 30px;
  text-align: center;
}
/* popup end */

