/* общее start */
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

html {
  -webkit-text-size-adjust: 100%; 
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

body {
	margin: 0;
	font-size: 16px;
	font-family: 'Raleway-Regular';
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
	outline: none;
}
/* общее end */

/* profile-header start */
.profile-header {
  width: 100%;
  background-image: url(../img/profile-header-bg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  margin-bottom: 120px;
}

.profile-header-content {
  width: 1200px;
  margin: auto;
}

.profile-img {
  width: 315px;
  height: 315px;
  float: left;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-top: 35px;
  float: left;
  margin-bottom: -70px;
}

.profile-header-info {
  width: 830px;
  float: right;
  margin-top: 100px;
}

.clear {
  width: 100%;
  height: 0;
  font-size: 0;
  clear: both;
}

.profile-header-info {
  color: #fff;
}

.profile-header-info span {
  font-size: 63px;
  display: block;
}

.profile-header-info p {
  font-size: 40px;
  margin: 0;
}

.profile-header-links {
  float: right;
}

.profile-header-links a {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  margin-left: 20px;
  text-align: center;
  line-height: 60px;
  color: #192d77;
  font-size: 30px;
  margin-top: -50px;
  vertical-align: top;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.profile-header-links a:hover {
  background-color: #192d77;
  color: #fff;
}

.profile-header-bar {
  width: 100%;
  height: 11px;
  border: 1px solid #fff;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 30px;
  overflow: hidden;
}

.profile-header-bar div {
  height: 9px;
  background-color: #2942a0;
}

.profile-header-create {
  float: right;
  margin-right: 50%;
  -webkit-transform: translate(600px, 0);
  -moz-transform: translate(600px, 0);
  -ms-transform: translate(600px, 0);
  -o-transform: translate(600px, 0);
  transform: translate(600px, 0);
  display: inline-block;
  background-color: #ff9c00;
  color: #253d98;
  line-height: 65px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 0 25px 0 65px;
  background-repeat: no-repeat;
  background-position: 20px center;
  background-image: url(../img/profile-header-create.png);
  font-size: 32px;
  margin-top: 20px;
  font-family: 'Raleway-Medium';
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.profile-header-create:hover {
  background-color: #253d98;
  color: #ff9c00;
}
/* profile-header end */

/* profile-text start */
.profile-text {
  font-family: 'Raleway-Medium';
  width: 1200px;
  margin: auto;
  font-size: 32px;
  color: #292929;
  line-height: 40px;
  padding-bottom: 50px;
  border-bottom: 8px solid #ff9c00;
}
/* profile-text end */

/* profile-content start */
.profile-content {
  width: 1200px;
  margin: 30px auto 50px;
  overflow: hidden;
}

.profile-left {
  width: 720px;
  float: left;
}

.profile-left > span {
  font-size: 48px;
  color: #253d98;
  display: block;
  margin-bottom: 20px;
}

.profile-left > p {
  font-size: 21px;
  line-height: 39px;
  color: #292929;
  margin: 0;
}

.profile-experience {
  margin-bottom: 50px;  
}

.profile-experience > span {
  font-size: 40px;
  display: block;
  color: #253d98;
  font-family: 'Raleway-Medium';
  margin-bottom: 20px;
}

.profile-projects {
  border-bottom: 1px solid #253d98;
}

/* profile-projects-item start */
.profile-projects-item {
  margin-bottom: 40px;
  overflow: hidden;
}

.profile-projects-item img {
  float: left;
  width: 80px;
  height: auto;
}

.profile-projects-item p {
  width: 610px;
  float: right;
  margin: 0;
  font-size: 21px;
  color: #292929;
}

.profile-projects-item p span {
  font-size: 26px;
  display: block;
  margin-bottom: 10px;
}
/* profile-projects-item end */

.profile-company {
  margin-top: 40px;
}

/* profile-company-item start */
.profile-company-item {
  margin-bottom: 30px;
  overflow: hidden;
}

.profile-company-item > span {
  display: block;
  margin-bottom: 20px;
  color: #253d98;
  font-family: 'Raleway-Medium';
  font-size: 39px;
}

.profile-company-item img {
  float: left;
  width: 80px;
  height: auto;
}

.profile-company-item p {
  width: 610px;
  float: right;
  margin: 0;
  font-size: 21px;
  color: #292929;
}

.profile-company-item p span {
  font-size: 26px;
  display: block;
  margin-bottom: 10px;
}
/* profile-company-item end */

.profile-sidebar {
  float: right;
  width: 445px;
}

.profile-education {
  width: 100%;
  padding: 25px 30px;
  background-color: #e8e8e8;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.profile-education > span {
  font-size: 48px;
  color: #253d98;
  margin-bottom: 30px;
  display: block;
}

/* profile-education-item start */
.profile-education-item {
  margin-bottom: 30px;
  color: #292929;
  font-size: 21px;
}

.profile-education-item img {
  display: block;
  margin-bottom: 10px;
  max-width: 125px;
  height: auto;
}

.profile-education-item span {
  display: block;
  font-size: 26px;
  margin-bottom: 10px;
}
/* profile-education-item end */

.profile-skills {
  margin-top: 30px;
}

.profile-skills > span {
  font-size: 48px;
  color: #253d98;
  display: block;
  margin-bottom: 20px;
}

/* profile-skills-item start */
.profile-skills-item {
  width: 100%;
  margin-bottom: 3px;
  background-color: #e8e8e8;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  line-height: 45px;
  padding: 0 45px;
  font-size: 21px;
  color: #292929;
  font-family: 'Raleway-Medium';
  position: relative;
  overflow: hidden;
}

.profile-skills-item:before {
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 10px;
  display: block;
  position: absolute;
  background-color: #253d98;
}
/* profile-skills-item end */

.profile-strengths {
  margin-top: 30px;
}

.profile-strengths > span {
  font-size: 48px;
  color: #253d98;
  display: block;
  margin-bottom: 20px;
}

/* profile-strengths-item start */
.profile-strengths-item {
  width: 100%;
  margin-bottom: 3px;
  background-color: #e8e8e8;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  line-height: 45px;
  padding: 0 45px;
  font-size: 21px;
  color: #292929;
  font-family: 'Raleway-Medium';
  position: relative;
  overflow: hidden;
}

.profile-strengths-item:before {
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 10px;
  display: block;
  position: absolute;
  background-color: #ff9c00;
}
/* profile-strengths-item end */

.profile-languages {
  margin-top: 30px;
}

.profile-languages > span {
  font-size: 48px;
  color: #253d98;
  display: block;
  margin-bottom: 20px;
}

/* profile-languages-item start */
.profile-languages-item {
  width: 100%;
  margin-bottom: 3px;
  background-color: #e8e8e8;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  line-height: 45px;
  padding: 0 45px;
  font-size: 21px;
  color: #fff;
  font-family: 'Raleway-Medium';
  position: relative;
  overflow: hidden;
}

.profile-languages-item div {
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  display: block;
  position: absolute;
  background-color: #253d98;
}

.profile-languages-item span {
  position: relative;
}
/* profile-languages-item end */

/* profile-content end */

