/* общее start */
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

html {
  -webkit-text-size-adjust: 100%; 
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

body {
	margin: 0;
	font-size: 16px;
	font-family: 'Raleway-Regular';
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
	outline: none;
}
/* общее end */

.top-students {
  padding: 35px 0;
}

.top-students > span {
  display: block;
  font-size: 40px;
  line-height: 55px;
  color: #253d98;
  text-align: center;
}

.top-students-items {
  text-align: center;
  width: 1200px;
  height: 500px;
  margin: auto;
  border-bottom: 8px solid #ff9c00;
}

 .top-students-item:first-child {
  margin-left: 0;
}

/* top-students-item start */
.top-students-item {
  display: inline-block;
  vertical-align: top;
  width: 215px;
  margin: 0 10px;
  padding-top: 60px;
}

.top-students-item-img {
  width: 145px;
  height: 145px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto 30px;
  position: relative;
}

.top-students-item-img:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 170px;
  height: 170px;
  content: '';
  display: block;
  border: 5px dotted #2942a0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.top-students-item-rating {
  text-align: center;
  margin-bottom: 10px;
  color: #ff9c00;
}

.top-students-item-rating i {
  vertical-align: middle;
  font-size: 22px;
}
  
.top-students-item-rating span {
  font-size: 24px;
  color: #2942a0;
  margin-left: 10px;
  vertical-align: middle;
  line-height: 18px;
}

.top-students-item > span {
  font-size: 24px;
  display: block;
  text-align: center;
  color: #22409a;
  margin-bottom: 10px;
  overflow: hidden;
  height: 29px;
}

.top-students-item p {
  margin: 0 0 10px;
  font-size: 18px;
  color: #292929;
  line-height: 24px;
  text-align: center;
  height: 72px;
  overflow: hidden;
}

.top-students-item-links {
  text-align: center;
}

.top-students-item-links a {
  width: 80px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  line-height: 30px;
  background-color: #ff9c00;
  font-size: 16px;
  color: #2942a0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 0 3px;
}

.top-students-item-links a:hover {
  background-color: #2942a0;
  color: #ff9c00;
}

.top-students-item-links a:last-child {
  background-color: #2942a0;
  color: #ff9c00;
}

.top-students-item-links a:last-child:hover {
  background-color: #ff9c00;
  color: #2942a0;
}
/* top-students-item end */


