/* общее start */
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

html {
  -webkit-text-size-adjust: 100%; 
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

body {
	margin: 0;
	font-size: 16px;
	font-family: 'Raleway-Regular';
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
	outline: none;
}
/* общее end */

.hidden {
  display: none;
}

/* popup-edit start */
.popup-edit {
  width: 1060px;
  margin: 30px auto;
  background-color: #fff;
  padding: 60px;
  position: relative;
}

.popup-edit > span {
  display: block;
  font-size: 40px;
  margin-bottom: 60px;
  color: #273a98;
  text-align: center;
}

.popup-edit-form input[type="text"] {
  width: 100%;
  margin-bottom: 40px;
  background-color: transparent;
  border: 3px solid #b1b1b1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 0 30px;
  height: 70px;
  font-size: 24px;
  color: #2942a0;
}

.popup-edit-form button {
  width: 100%;
  height: 70px;
  font-size: 32px;
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #2942a0;
  line-height: 32px;
  color: #ff9c00;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.popup-edit-form button:hover {
  background-color: #ff9c00;
  color: #2942a0;
}

.popup-edit-form-img {
  margin-bottom: 40px;
  font-size: 24px;
  color: #2942a0;
}

.popup-edit-form-img > span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
  margin-right: 270px;
}

.popup-edit-form-img label {
  cursor: pointer;
  line-height: 65px;
  background-color: #273a98;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 0 40px;
  color: #ff9c00;
  display: inline-block;
  vertical-align: middle;
}

.popup-edit-form-img input {
  display: none;
}
/* popup-edit end */

