/* общее start */
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

html {
  -webkit-text-size-adjust: 100%; 
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

body {
	margin: 0;
	font-size: 16px;
	font-family: 'Raleway-Regular';
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
	outline: none;
}
/* общее end */

/* profile-header start */
.profile-header {
  width: 100%;
  background-image: url(../img/profile-header-bg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  margin-bottom: 120px;
}

.profile-header-content {
  width: 1200px;
  margin: auto;
}

.profile-img {
  width: 315px;
  height: 315px;
  float: left;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-top: 35px;
  float: left;
  margin-bottom: -70px;
}

.profile-header-info {
  width: 830px;
  float: right;
  margin-top: 100px;
}

.clear {
  width: 100%;
  height: 0;
  font-size: 0;
  clear: both;
}

.profile-header-info {
  color: #fff;
}

.profile-header-info span {
  font-size: 63px;
  display: block;
}

.profile-header-info p {
  font-size: 40px;
  margin: 0;
}

.profile-header-links {
  float: right;
}

.profile-header-links a {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  margin-left: 20px;
  text-align: center;
  line-height: 60px;
  color: #192d77;
  font-size: 30px;
  margin-top: -50px;
  vertical-align: top;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.profile-header-links a:hover {
  background-color: #192d77;
  color: #fff;
}

.profile-header-bar {
  width: 100%;
  height: 11px;
  border: 1px solid #fff;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 30px;
  overflow: hidden;
}

.profile-header-bar div {
  height: 9px;
  background-color: #2942a0;
}

.profile-header-create {
  float: right;
  margin-right: 50%;
  -webkit-transform: translate(600px, 0);
  -moz-transform: translate(600px, 0);
  -ms-transform: translate(600px, 0);
  -o-transform: translate(600px, 0);
  transform: translate(600px, 0);
  display: inline-block;
  background-color: #ff9c00;
  color: #253d98;
  line-height: 65px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 0 25px 0 65px;
  background-repeat: no-repeat;
  background-position: 20px center;
  background-image: url(../img/profile-header-create.png);
  font-size: 32px;
  margin-top: 20px;
  font-family: 'Raleway-Medium';
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.profile-header-create:hover {
  background-color: #253d98;
  color: #ff9c00;
}
/* profile-header end */

/* header start */ 
header {
  width: 100%;
}

.header-top {
  background-color: #1b3287;
  width: 100%;
  position: relative;
}

.header-top:before {
  display: block;
  content: '';
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #192d77;
  position: absolute;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.header-top-content {
  position: relative;
  margin: auto;
  width: 1200px;
  
}

.header-top-profile {
  display: inline-block;
  line-height: 100px;
  background-color: #192d77;
  border-right: 1px solid #192d77;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 300px;
  height: 100px;
}

.header-top-profile:hover {
  background-color: #2942a0;
}

.header-top-profile div {
  display: inline-block;
  width: 75px;
  height: 75px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  margin-right: 10px;
  vertical-align: middle;
  margin-top: -5px;
  margin-left: 10px;
} 

.header-top-profile span {
  display: inline-block;
  color: #fff;
  font-size: 24px;
}

.header-top-profile span:after {
  display: inline-block;
  content: '';
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 8px solid #fff;
  border-bottom: 5px solid transparent;
  margin-left: 15px;
  vertical-align: middle;
}

.header-top-publish {
  display: inline-block;
  float: right;
  line-height: 65px;
  padding: 0 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #ff9c00;
  font-size: 32px;
  color: #253d98;
  font-family: 'Raleway-Medium';
  margin-top: 20px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header-top-publish:hover {
  background-color: #cb7d02;
} 

.header-menu {
  width: 100%;
  background-color: #2942a0;
}

.header-menu ul {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-size: 0;
  text-align: center;
}

.header-menu ul li {
  display: inline-block;
  list-style-type: none;
}

.header-menu ul li a {
  display: inline-block;
  line-height: 100px;
  padding: 0 35px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #2942a0;
  color: #fff;
  font-size: 24px;
  position: relative;
}

.header-menu ul li a:hover {
  background-color: #192d77;
}

.header-menu ul li a span {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #ff9c00;
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 24px;
  color: #091541;
  line-height: 24px;
  height: 28px;
  min-width: 28px;
  padding: 0 2px;
  text-align: center;
}
/* header end */

/* active-job start */
.active-job {
  width: 1200px;
  margin: -90px auto 0;
}

.active-job > span {
  display: block;
  text-align: center;
  font-size: 48px;
  color: #253d98;
}

.active-job hr {
  background-color: #ff9c00;
  height: 8px;
  width: 100%;
  border: none;
  margin: 30px auto;
}

.active-job-info {
  width: 1200px;
  margin: 0 auto 45px;
  overflow: hidden;
}

.active-job-date {
  float: left;
  font-size: 24px;
  color: #253d98;
}

.active-job-date span {
  display: block;
  font-size: 32px;
  margin-bottom: 10px;
}

.active-job-payment {
  display: block;
  float: right;
  font-size: 24px;
  color: #253d98;
  text-align: center;
}

.active-job-payment span {
  display: inline-block;
  padding: 0 20px;
  color: #fff;
  font-size: 28px;
  line-height: 60px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #2942a0;
  margin-top: 10px;
}

.active-job-deadline {
  margin-bottom: 45px;
}

.active-job-deadline > span {
  text-align: right;
  display: block;
  width: 100%;
  color: #292929;
  font-size: 22px;
}

.active-job-deadline > div {
  position: relative;
  overflow: hidden;
  background-color: #afafaf;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  height: 9px;
  margin-top: 10px;
}

.active-job-deadline > div > div {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #2942a0;
}

.active-job-deadline p {
  margin: 15px 0 0;
  font-size: 24px;
  color: #192d77;
  font-family: 'Raleway-Medium';
}

.active-job-deadline p span {
  float: right;
  font-size: 32px;
}

.active-job-project {
  font-size: 21px;
  color: #292929;
  line-height: 40px;
  font-family: 'Raleway-Medium';
  margin-bottom: 80px;
}

.active-job-project span {
  display: block;
  margin-bottom: 10px;
  font-size: 32px;
  font-family: 'Raleway-Regular';
  color: #253d98;
}

.active-job-project p {
  margin: 0 0 30px;
}

.active-job-project p:first-child {
  font-size: 24px;
}

.active-job-project p:first-child span {
  font-size: 40px;
}

.active-job-buttons {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 40px;
}

.active-job-buttons a {
  display: inline-block;
  vertical-align: top;
  line-height: 70px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 0 25px;
  font-size: 32px;
  color: #ff9c00;
  background-color: #2942a0;
  margin: 0 15px;
}

.active-job-buttons a:hover {
  color: #2942a0;
  background-color: #ff9c00;
}

.employees {
  margin: 50px 0 70px;
}

.employees > span {
  font-size: 40px;
  display: block;
  margin-bottom: 50px;
  color: #253d98;
}

.employees .employees-item:first-child {
  margin-left: 0;
}

/* employees-item start */
.employees-item {
  display: inline-block;
  vertical-align: top;
  width: 215px;
  margin: 0 20px;
}

.employees-item-img {
  width: 145px;
  height: 145px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto 30px;
  position: relative;
}

.employees-item-img:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 170px;
  height: 170px;
  content: '';
  display: block;
  border: 5px dotted #2942a0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.employees-item-rating {
  text-align: center;
  margin-bottom: 10px;
  color: #ff9c00;
}

.employees-item-rating i {
  vertical-align: middle;
}
  
.employees-item-rating span {
  font-size: 24px;
  color: #2942a0;
  margin-left: 10px;
  vertical-align: middle;
  line-height: 18px;
}

.employees-item > span {
  font-size: 24px;
  display: block;
  text-align: center;
  color: #22409a;
  margin-bottom: 10px;
  overflow: hidden;
  height: 29px;
}

.employees-item p {
  margin: 0 0 10px;
  font-size: 18px;
  color: #292929;
  line-height: 24px;
  text-align: center;
  height: 72px;
  overflow: hidden;
}

.employees-item-links {
  text-align: center;
}

.employees-item-links a {
  width: 80px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  line-height: 30px;
  background-color: #ff9c00;
  font-size: 16px;
  color: #2942a0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 0 3px;
}

.employees-item-links a:hover {
  background-color: #2942a0;
  color: #ff9c00;
}

.employees-item-links a:last-child {
  background-color: #2942a0;
  color: #ff9c00;
}

.employees-item-links a:last-child:hover {
  background-color: #ff9c00;
  color: #2942a0;
}
/* employees-item end */

/* active-job end */
