/* общее start */
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

html {
  -webkit-text-size-adjust: 100%; 
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

body {
	margin: 0;
	font-size: 16px;
	font-family: 'Raleway-Regular';
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
	outline: none;
}
/* общее end */

/* home-banner start */
.home-banner {
  width: 100%;
  background-image: url(../img/home-banner.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.home-banner-content {
  width: 1200px;
  margin: auto;
  padding: 100px 10px 60px;
}

.home-banner-content span {
  display: block;
  text-align: center;
  font-size: 48px;
  color: #f68c22;
  line-height: 60px;
  margin-bottom: 90px;
}

.home-banner-form a {
  display: inline-block;
  font-size: 40px;
  margin-right: 50px;
  color: #0730a6;
  padding-bottom: 15px;
  border-bottom: 8px solid #0730a6;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.home-banner-form a:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 100%;
  margin-top: 8px;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #0730a6;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.home-banner-form a:hover,
.home-banner-form a.active {
  color: #f68c22;
  border-bottom: 8px solid #f68c22;
}

.home-banner-form a:hover:before,
.home-banner-form a.active:before {
  border-top: 25px solid #f68c22;
  opacity: 1;
  visibility: visible;
}

.home-banner-form div {
  width: 100%;
  position: relative;
  margin-top: 40px;
}

.home-banner-form div input {
  width: 100%;
  background-color: #fff;
  border: 4px solid #f68c22;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  height: 80px;
  padding: 0 60px 0 20px;
  font-size: 30px;
}

.home-banner-form div button {
  position: absolute;
  border: none;
  background-color: transparent;
  right: 20px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #f68c22;
  font-size: 30px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.home-banner-form div button:hover {
  color: #0730a6;
}

.home-banner-link {
  margin-top: 60px;
}

.home-banner-link:after {
  display: block;
  content: '';
  width: 100%;
  clear: both;
  font-size: 0;
  height: 0;
}

.home-banner-link a {
  width: 560px;
  text-align: center;
  line-height: 110px;
  font-size: 40px;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.7);
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.7);
}

.home-banner-link a:first-child {
  float: left;
  background-color: #f68c22;
}

.home-banner-link a:first-child:hover {
  background-color: #0730a6;
}

.home-banner-link a:last-child {
  float: right;
  background-color: #0730a6;
}

.home-banner-link a:last-child:hover {
  background-color: #f68c22;
}

.home-banner-img {
  width: 100%;
  background-color: #0730a6;
  padding: 10px;
  text-align: center;
}

.home-banner-img img {
  width: 1200px;
  height: auto;
  
}
/* home-banner end */

/* home-about start */
.home-about {
  width: 1200px;
  padding: 50px 0 80px;
  border-bottom: 8px solid #ff9c00;
  font-size: 24px;
  color: #292929;
  line-height: 40px;
  margin: auto;
}

.home-about > span {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  font-size: 48px;
  color: #2942a0;
}
/* home-about end */

/* home-cats start */
.home-cats {
  width: 1200px;
  margin: auto;
  padding: 30px 0 50px;
  text-align: center;
  border-bottom: 8px solid #ff9c00;
}

.home-cats > span {
  display: block;
  text-align: center;
  font-size: 48px;
  color: #2942a0;
  margin-bottom: 50px;
}

.home-cats-items {
  font-size: 0;
  width: 100%;
  text-align: center;
}

.home-cats-items a {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin: 0 3% 50px;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 2px solid #b6b6b6;
  position: relative;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  padding: 20px 10px 20px;
  font-size: 36px;
  color: #2942a0;
}

.home-cats-items a:hover {
  color: #ff9c00;
}

.home-cats-items a:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 10px;
  background-color: #2942a0;
  display: block;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.home-cats-items a:hover:before {
  background-color: #ff9c00;
}

.home-cats-items a:nth-child(4n+1) {
  margin-left: 0;
}

.home-cats-items a:nth-child(4n) {
  margin-right: 0;
}

.home-cats-items img {
  display: block;
  margin: auto;
  height: 60px;
  width: auto;
  margin-bottom: 5px;
}

.home-cats > a {
  line-height: 45px;
  padding: 0 35px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #ff9c00;
  font-size: 24px;
  background-color: #2942a0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}

.home-cats > a:hover {
  color: #2942a0;
  background-color: #ff9c00;
}
/* home-cats end */

/* home-students start */
.home-students {
  width: 1200px;
  margin: auto;
  padding: 30px 0 50px;
  text-align: center;
  border-bottom: 8px solid #ff9c00;
}

.home-students > span {
  display: block;
  text-align: center;
  font-size: 48px;
  color: #2942a0;
  margin-bottom: 70px;
}

/* employees-item start */
.employees-item {
  display: inline-block;
  vertical-align: top;
  width: 215px;
  margin: 0 12px;
}

.employees-item-img {
  width: 145px;
  height: 145px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto 30px;
  position: relative;
}

.employees-item-img:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 170px;
  height: 170px;
  content: '';
  display: block;
  border: 5px dotted #2942a0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.employees-item-rating {
  text-align: center;
  margin-bottom: 10px;
  color: #ff9c00;
}

.employees-item-rating i {
  vertical-align: middle;
}
  
.employees-item-rating span {
  font-size: 24px;
  color: #2942a0;
  margin-left: 10px;
  vertical-align: middle;
  line-height: 18px;
}

.employees-item > span {
  font-size: 24px;
  display: block;
  text-align: center;
  color: #22409a;
  margin-bottom: 10px;
  overflow: hidden;
  height: 29px;
}

.employees-item p {
  margin: 0 0 10px;
  font-size: 18px;
  color: #292929;
  line-height: 24px;
  text-align: center;
  height: 72px;
  overflow: hidden;
}

.employees-item-links {
  text-align: center;
}

.employees-item-links a {
  width: 80px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  line-height: 30px;
  background-color: #ff9c00;
  font-size: 16px;
  color: #2942a0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 0 3px;
}

.employees-item-links a:hover {
  background-color: #2942a0;
  color: #ff9c00;
}

.employees-item-links a:last-child {
  background-color: #2942a0;
  color: #ff9c00;
}

.employees-item-links a:last-child:hover {
  background-color: #ff9c00;
  color: #2942a0;
}
/* employees-item end */

.home-students-items .employees-item:first-child {
  margin-left: 0;
}

.home-students-items .employees-item:last-child {
  margin-right: 0;
}
/* home-students end */

/* home-jobs start */
.home-jobs {
  width: 1200px;
  margin: auto;
  padding: 30px 0 50px;
  text-align: center;
  border-bottom: 8px solid #ff9c00;
}

.home-jobs > span {
  display: block;
  text-align: center;
  font-size: 48px;
  color: #2942a0;
  margin-bottom: 70px;
}

/* job-search-item start */
.job-search-item {
  display: inline-block;
  vertical-align: top;  
  width: 250px;
  margin: 0 20px;
}

.job-search-item-logo {
  width: 170px;
  height: 170px;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto 50px;
  position: relative;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.job-search-item-logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 70%;
  max-width: 70%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.job-search-item-logo:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 210px;
  height: 210px;
  content: '';
  display: block;
  border: 5px dotted #2942a0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.job-search-item-hot {
  display: inline-block;
  position: absolute;
  line-height: 40px;
  color: #fff;
  font-size: 24px;
  padding: 0 15px;
  background-color: #ce1f1f;
  bottom: 10px;
  left: -39px;
}

.job-search-item-hot:before {
  width: 0;
  height: 0;
  border-bottom: 5px solid #861818; 
  border-left: 15px solid transparent;
  content: '';
  position: absolute;
  left: 0;
  bottom: 100%;
}

.job-search-item-hot:after {
  width: 0;
  height: 0;
  border-bottom: 5px solid #861818; 
  border-right: 2px solid transparent;
  content: '';
  position: absolute;
  left: 15px;
  bottom: 100%;
}

.job-search-item-completed {
  display: inline-block;
  position: absolute;
  line-height: 40px;
  color: #fff;
  font-size: 24px;
  padding: 0 15px;
  background-color: #1f61ce;
  bottom: 10px;
  left: -39px;
}

.job-search-item-completed:before {
  width: 0;
  height: 0;
  border-bottom: 5px solid #103066; 
  border-left: 15px solid transparent;
  content: '';
  position: absolute;
  left: 0;
  bottom: 100%;
}

.job-search-item-completed:after {
  width: 0;
  height: 0;
  border-bottom: 5px solid #103066; 
  border-right: 2px solid transparent;
  content: '';
  position: absolute;
  left: 15px;
  bottom: 100%;
}

.job-search-item > span {
  font-size: 24px;
  display: block;
  text-align: center;
  color: #22409a;
  margin-bottom: 10px;
  height: 29px;
  overflow: hidden;
}

.job-search-item p {
  margin: 0 0 10px;
  font-size: 18px;
  color: #292929;
  line-height: 24px;
  text-align: center;
  height: 95px;
  overflow: hidden;
}

.job-search-item-info {
  text-align: center;
  color: #faa41f;
  margin: 15px 0 20px;
  position: relative;
}

.job-search-item-info i {
  position: absolute;
  top: 50%;
  font-size: 30px;
  display: inline-block;
  margin-top: -1px;
}

.job-search-item-info i:first-child {
  left: 50%;
  -webkit-transform: translate(-85px, -50%);
  -moz-transform: translate(-85px, -50%);
  -ms-transform: translate(-85px, -50%);
  -o-transform: translate(-85px, -50%);
  transform: translate(-85px, -50%);
}

.job-search-item-info i:last-child {
  right: 50%;
  -webkit-transform: translate(85px, -50%);
  -moz-transform: translate(85px, -50%);
  -ms-transform: translate(85px, -50%);
  -o-transform: translate(85px, -50%);
  transform: translate(85px, -50%);
}

.job-search-item-info a {
  line-height: 30px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
  color: #faa41f;
  background-color: #2942a0;
  font-size: 16px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-left: 10px;
  margin-right: 10px;
}

.job-search-item-info a:hover {
  color: #2942a0;
  background-color: #faa41f;
}

.job-search-item > a {
  display: inline-block;
  width: 100%;
  line-height: 46px;
  text-align: center;
  font-size: 19px;
  color: #fff;
  font-family: 'Raleway-Medium';
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #192d77;
  border: 2px solid #192d77;
}

.job-search-item > a:hover {
  color: #192d77;
  background-color: #fff;
}

.job-search-item > a i {
  margin-right: 10px;
  font-size: 30px;
  vertical-align: middle;
  display: inline-block;
  margin-top: -3px;
}
/* job-search-item end */

/* home-jobs end */
