@font-face {
  font-family: 'Raleway-Regular';
  src: url('../fonts/Raleway-Regular/Raleway-Regular.eot');
  src: local('☺'), url('../fonts/Raleway-Regular/Raleway-Regular.woff') format('woff'), 
  url('../fonts/Raleway-Regular/Raleway-Regular.ttf') format('truetype'), 
  url('../fonts/Raleway-Regular/Raleway-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Medium';
  src: url('../fonts/Raleway-Medium/Raleway-Medium.eot');
  src: local('☺'), url('../fonts/Raleway-Medium/Raleway-Medium.woff') format('woff'), 
  url('../fonts/Raleway-Medium/Raleway-Medium.ttf') format('truetype'), 
  url('../fonts/Raleway-Medium/Raleway-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

