/* общее start */
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

html {
  -webkit-text-size-adjust: 100%; 
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

body {
	margin: 0;
	font-size: 16px;
	font-family: 'Raleway-Regular';
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
	outline: none;
}
/* общее end */

/* job-search-results start */
.job-search-results {
  padding: 35px 0;
}

.job-search-results > span {
  display: block;
  font-size: 48px;
  color: #253d98;
  text-align: center;
}

.job-search-filter {
  padding: 45px 20px;
  font-size: 22px;
  color: #292929;
  font-family: 'Raleway-Medium';
  margin: auto;
  width: 1200px;
  border-bottom: 8px solid #ff9c00;
}

.job-search-filter a {
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  line-height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #292929;
  font-family: 'Raleway-Regular';
  padding: 0 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: transparent;
}

.job-search-filter a:hover,
.job-search-filter a.active {
  color: #fff;
  background-color: #2942a0;
}

.job-search-items {
  text-align: center;
  font-size: 0;
  padding-top: 60px;
  width: 1200px;
  margin: auto;
}

/* job-search-item start */
.job-search-item {
  display: inline-block;
  vertical-align: top;  
  width: 250px;
  margin: 0 20px 70px;
}

.job-search-item-logo {
  width: 170px;
  height: 170px;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto 50px;
  position: relative;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.job-search-item-logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 70%;
  max-width: 70%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.job-search-item-logo:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 210px;
  height: 210px;
  content: '';
  display: block;
  border: 5px dotted #2942a0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.job-search-item-hot {
  display: inline-block;
  position: absolute;
  line-height: 40px;
  color: #fff;
  font-size: 24px;
  padding: 0 15px;
  background-color: #ce1f1f;
  bottom: 10px;
  left: -39px;
}

.job-search-item-hot:before {
  width: 0;
  height: 0;
  border-bottom: 5px solid #861818; 
  border-left: 15px solid transparent;
  content: '';
  position: absolute;
  left: 0;
  bottom: 100%;
}

.job-search-item-hot:after {
  width: 0;
  height: 0;
  border-bottom: 5px solid #861818; 
  border-right: 2px solid transparent;
  content: '';
  position: absolute;
  left: 15px;
  bottom: 100%;
}

.job-search-item-completed {
  display: inline-block;
  position: absolute;
  line-height: 40px;
  color: #fff;
  font-size: 24px;
  padding: 0 15px;
  background-color: #1f61ce;
  bottom: 10px;
  left: -39px;
}

.job-search-item-completed:before {
  width: 0;
  height: 0;
  border-bottom: 5px solid #103066; 
  border-left: 15px solid transparent;
  content: '';
  position: absolute;
  left: 0;
  bottom: 100%;
}

.job-search-item-completed:after {
  width: 0;
  height: 0;
  border-bottom: 5px solid #103066; 
  border-right: 2px solid transparent;
  content: '';
  position: absolute;
  left: 15px;
  bottom: 100%;
}

.job-search-item > span {
  font-size: 24px;
  display: block;
  text-align: center;
  color: #22409a;
  margin-bottom: 10px;
  height: 29px;
  overflow: hidden;
}

.job-search-item p {
  margin: 0 0 10px;
  font-size: 18px;
  color: #292929;
  line-height: 24px;
  text-align: center;
  height: 95px;
  overflow: hidden;
}

.job-search-item-info {
  text-align: center;
  color: #faa41f;
  margin: 15px 0 20px;
  position: relative;
}

.job-search-item-info i {
  position: absolute;
  top: 50%;
  font-size: 30px;
  display: inline-block;
  margin-top: -1px;
}

.job-search-item-info i:first-child {
  left: 50%;
  -webkit-transform: translate(-85px, -50%);
  -moz-transform: translate(-85px, -50%);
  -ms-transform: translate(-85px, -50%);
  -o-transform: translate(-85px, -50%);
  transform: translate(-85px, -50%);
}

.job-search-item-info i:last-child {
  right: 50%;
  -webkit-transform: translate(85px, -50%);
  -moz-transform: translate(85px, -50%);
  -ms-transform: translate(85px, -50%);
  -o-transform: translate(85px, -50%);
  transform: translate(85px, -50%);
}

.job-search-item-info a {
  line-height: 30px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
  color: #faa41f;
  background-color: #2942a0;
  font-size: 16px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-left: 10px;
  margin-right: 10px;
}

.job-search-item-info a:hover {
  color: #2942a0;
  background-color: #faa41f;
}

.job-search-item > a {
  display: inline-block;
  width: 100%;
  line-height: 46px;
  text-align: center;
  font-size: 19px;
  color: #fff;
  font-family: 'Raleway-Medium';
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #192d77;
  border: 2px solid #192d77;
}

.job-search-item > a:hover {
  color: #192d77;
  background-color: #fff;
}

.job-search-item > a i {
  margin-right: 10px;
  font-size: 30px;
  vertical-align: middle;
  display: inline-block;
  margin-top: -3px;
}
/* job-search-item end */

/* job-search-pagination start */
.job-search-pagination {
  text-align: center;
}

.job-search-pagination a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  vertical-align: middle;
  margin: 0 5px;
  background-color: #2942a0;
  width: 15px;
  height: 15px;
}

.job-search-pagination a:hover {
  background-color: #ff9c00;
}

.job-search-pagination span {
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  vertical-align: middle;
  margin: 0 5px;
  background-color: #ff9c00;
  width: 15px;
  height: 15px;
}

.job-search-pagination a.job-search-pagination-prev {
  margin-right: 60px;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 23px solid #2942a0;
  border-bottom: 15px solid transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: transparent;
  position: relative;
}

.job-search-pagination a.job-search-pagination-prev:hover {
  border-right: 23px solid #ff9c00;
}

.job-search-pagination a.job-search-pagination-prev:after {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 3px solid #fff;
  border-bottom: 15px solid transparent;
  position: absolute;
  top: -15px;
  right: -23px;
  content: '';
  display: block;
}

.job-search-pagination a.job-search-pagination-next {
  margin-left: 60px;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 23px solid #2942a0;
  border-bottom: 15px solid transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: transparent;
  position: relative;
}

.job-search-pagination a.job-search-pagination-next:after {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 3px solid #fff;
  border-bottom: 15px solid transparent;
  position: absolute;
  top: -15px;
  left: -23px;
  content: '';
  display: block;
}

.job-search-pagination a.job-search-pagination-next:hover {
  border-left: 23px solid #ff9c00;
}
/* job-search-pagination end */

/* job-search-results end */
