@font-face {
  font-family: 'Raleway-Regular';
  src: url('../fonts/Raleway-Regular/Raleway-Regular.eot');
  src: local('☺'), url('../fonts/Raleway-Regular/Raleway-Regular.woff') format('woff'), 
  url('../fonts/Raleway-Regular/Raleway-Regular.ttf') format('truetype'), 
  url('../fonts/Raleway-Regular/Raleway-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}