/* общее start */
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

html {
  -webkit-text-size-adjust: 100%; 
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

body {
	margin: 0;
	font-size: 16px;
	font-family: 'Raleway-Regular';
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
	outline: none;
}
/* общее end */

/* student-home2 start */
.suitable-jobs-skills {
  padding: 35px 0;
}

.suitable-jobs-skills > span {
  display: block;
  font-size: 48px;
  color: #253d98;
  text-align: center;
}

.job-skills-items {
  text-align: center;
  font-size: 0;
  padding-top: 60px;
  width: 1200px;
  margin: auto;
  border-bottom: 8px solid #ff9c00;
}

/* job-skill-item start */
.job-skill-item {
  display: inline-block;
  vertical-align: top;  
  width: 250px;
  margin: 0 20px 70px;
}

.job-skill-item-logo {
  width: 170px;
  height: 170px;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto 50px;
  position: relative;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.job-skill-item-logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 70%;
  max-width: 70%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.job-skill-item-logo:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 210px;
  height: 210px;
  content: '';
  display: block;
  border: 5px dotted #2942a0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.job-skill-item-completed {
  display: inline-block;
  position: absolute;
  line-height: 40px;
  color: #fff;
  font-size: 24px;
  padding: 0 15px;
  background-color: #1f61ce;
  bottom: 10px;
  left: -39px;
}

.job-skill-item-completed:before {
  width: 0;
  height: 0;
  border-bottom: 5px solid #103066; 
  border-left: 15px solid transparent;
  content: '';
  position: absolute;
  left: 0;
  bottom: 100%;
}

.job-skill-item-completed:after {
  width: 0;
  height: 0;
  border-bottom: 5px solid #103066; 
  border-right: 2px solid transparent;
  content: '';
  position: absolute;
  left: 15px;
  bottom: 100%;
}

.job-skill-item > span {
  font-size: 24px;
  display: block;
  text-align: center;
  color: #22409a;
  margin-bottom: 10px;
  height: 29px;
  overflow: hidden;
}

.job-skill-item p {
  margin: 0 0 10px;
  font-size: 18px;
  color: #292929;
  line-height: 24px;
  text-align: center;
  height: 95px;
  overflow: hidden;
}

.job-skill-item-info {
  text-align: center;
  color: #faa41f;
  margin: 15px 0 20px;
  position: relative;
}

.job-skill-item-info i {
  position: absolute;
  top: 50%;
  font-size: 30px;
  display: inline-block;
  margin-top: -1px;
}

.job-skill-item-info i:first-child {
  left: 50%;
  -webkit-transform: translate(-85px, -50%);
  -moz-transform: translate(-85px, -50%);
  -ms-transform: translate(-85px, -50%);
  -o-transform: translate(-85px, -50%);
  transform: translate(-85px, -50%);
}

.job-skill-item-info i:last-child {
  right: 50%;
  -webkit-transform: translate(85px, -50%);
  -moz-transform: translate(85px, -50%);
  -ms-transform: translate(85px, -50%);
  -o-transform: translate(85px, -50%);
  transform: translate(85px, -50%);
}

.job-skill-item-info a {
  line-height: 30px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
  color: #faa41f;
  background-color: #2942a0;
  font-size: 16px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-left: 10px;
  margin-right: 10px;
}

.job-skill-item-info a:hover {
  color: #2942a0;
  background-color: #faa41f;
}

.job-skill-item > a {
  display: inline-block;
  width: 100%;
  line-height: 46px;
  text-align: center;
  font-size: 19px;
  color: #fff;
  font-family: 'Raleway-Medium';
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #192d77;
  border: 2px solid #192d77;
}

.job-skill-item > a:hover {
  color: #192d77;
  background-color: #fff;
}

.job-skill-item > a i {
  margin-right: 10px;
  font-size: 30px;
  vertical-align: middle;
  display: inline-block;
  margin-top: -3px;
}
/* job-skill-item end */

/* our-blog-items start */
.our-blog {
  padding: 35px 0;
}

.our-blog > span {
  display: block;
  font-size: 48px;
  color: #253d98;
  text-align: center;
}

.our-blog-items {
  text-align: center;
  font-size: 0;
  padding-top: 42px;
  width: 1200px;
  margin: auto;
  border-bottom: 8px solid #ff9c00;
}
.our-blog-item {
  display: inline-block;
  vertical-align: top;  
  width: 357px;
  margin: 0 20px 70px;
  border: 1px solid rgb(200, 200, 200);
  -webkit-box-shadow: 4px 4px 20px 0px rgba(200, 200, 200, 0.75);
  -moz-box-shadow: 4px 4px 20px 0px rgba(200, 200, 200, 0.75);
  box-shadow: 4px 4px 20px 0px rgba(200, 200, 200, 0.75); 
}

.our-blog-item-logo {
  height: 234px;
  background-color: #fff;
  margin: 0 auto 20px;
  position: relative;
  border-top: 8px solid #253d98;
}

.our-blog-item-logo img {
  position: relative;
  top: 50%;
  left: 50%;
  max-width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-top: 8px solid #253d98;
}

.our-blog-item > span {
  font-size: 24px;
  display: block;
  text-align: center;
  color: #22409a;
  margin-bottom: 10px;
  height: 29px;
  overflow: hidden;
}

.our-blog-item p {
  margin: 0 0 10px;
  font-size: 18px;
  color: #292929;
  line-height: 24px;
  text-align: center;
  height: 70px;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}

.our-blog-item hr {
  width: 99%;
  color: #979797;
  size: 1px;
  margin-bottom: 5px;
  border-bottom: none;
}

.our-blog-item-info {
  display: inline-block;
  text-align: center;
  padding: 10px 0;
}
.our-blog-item-info > img {
  height: 40px;
  width: 40px;
  float: left;
  position: relative;
  left: -18px;
}
.our-blog-item-info p {
  margin:5px 0;
  font-size: 16px;
  color: #292929;
  line-height: 24px;
  height: 24px;
  overflow: hidden;
  float: left;
}

.our-blog-item-info p.name{
  position: relative;
  left: -18px;
}

.our-blog-item-info p.date {
  font-size: 12px;
  line-height: 27px;
  padding: 0 5px;
}

.our-blog-item-info .vl {
  border-left: 1px solid black;
  height: 12px;
  position: absolute;
  margin-left: -3px;
  top: 7;
}

.our-blog-item-info p.time {
  font-size: 12px;
  line-height: 27px;
  padding: 0 5px;
}

.our-blog-item-info a > img {
  width: 30px;
  height: 30px;
  position: relative;
right: -18px;
}
/* our-blog-items end */

/* our-blog-pagination start */
.our-blog-pagination {
  text-align: center;
  margin-bottom: 42px;
}

.our-blog-pagination a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  vertical-align: middle;
  margin: 0 5px;
  background-color: #2942a0;
  width: 15px;
  height: 15px;
}

.our-blog-pagination a:hover {
  background-color: #ff9c00;
}

.our-blog-pagination span {
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  vertical-align: middle;
  margin: 0 5px;
  background-color: #ff9c00;
  width: 15px;
  height: 15px;
}

.our-blog-pagination a.our-blog-pagination-prev {
  margin-right: 60px;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 23px solid #2942a0;
  border-bottom: 15px solid transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: transparent;
  position: relative;
}

.our-blog-pagination a.our-blog-pagination-prev:hover {
  border-right: 23px solid #ff9c00;
}

.our-blog-pagination a.our-blog-pagination-prev:after {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 3px solid #fff;
  border-bottom: 15px solid transparent;
  position: absolute;
  top: -15px;
  right: -23px;
  content: '';
  display: block;
}

.our-blog-pagination a.our-blog-pagination-next {
  margin-left: 60px;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 23px solid #2942a0;
  border-bottom: 15px solid transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: transparent;
  position: relative;
}

.our-blog-pagination a.our-blog-pagination-next:after {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 3px solid #fff;
  border-bottom: 15px solid transparent;
  position: absolute;
  top: -15px;
  left: -23px;
  content: '';
  display: block;
}

.our-blog-pagination a.our-blog-pagination-next:hover {
  border-left: 23px solid #ff9c00;
}

.our-blog-items > a {
  line-height: 44px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
  color: #faa41f;
  background-color: #2942a0;
  font-size: 24px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0 10px 42px 10px;

}

.our-blog-items > a:hover {
  color: #2942a0;
  background-color: #faa41f;
}

/* our-blog-pagination end */

/* upcoming-events start */

.upcoming-events {
  padding: 35px 0;
}

.upcoming-events > span {
  display: block;
  font-size: 48px;
  color: #253d98;
  text-align: center;
}

.event-items {
  text-align: center;
  font-size: 0;
  padding-top: 42px;
  width: 1200px;
  margin: auto;
}

.events-item {
  display: inline;
  vertical-align: top;  
  width: 562px;
  height: 348px;
  margin: 0 0 70px;
  border: 1px solid rgb(200, 200, 200);
  -webkit-box-shadow: 4px 4px 20px 0px rgba(200, 200, 200, 0.75);
  -moz-box-shadow: 4px 4px 20px 0px rgba(200, 200, 200, 0.75);
  box-shadow: 4px 4px 20px 0px rgba(200, 200, 200, 0.75); 
  /*background-image: url(../img/background_upcoming-event.png);*/
  max-width: 100%;
	background-size: cover;
  background-position: center;
  padding: 10px
}
.left {
  float: left;
}
.right {
  float: right;
}

.events-item-info {
  background: rgba(25, 36, 76, 0.95);
  float: left;
  width: 293px;
  height: 328px;
  padding: 25px;

}

.events-item-info > span {
  font-size: 24px;
  display: block;
  text-align: center;
  color: #ff9c00;
  margin-bottom: 20px;
  line-height: 30px;
  text-align: left;
}

.events-item-info p {
  margin: 0 0 10px;
  font-size: 18px;
  color: #ffffff;
  line-height: 24px;
  text-align: center;
  height: 47px;
  overflow: hidden;
  padding: 0;
  text-align: left;
  width: 257px;
  height: 47px;
}
.events-item-info hr {
  border-color: #faa41f;
  margin-bottom: 10px;
}
.events-item-info .date {
  color: #faa41f;
  font-size: 36px;
  line-height: 24px;
  padding: 0;
  }
.events-item-info .read-more {
  font-size: 18px;
  line-height: 0;
  color: #2942a0;
  background: none;
  border: none;
  float: left;
  padding: 0;
  margin: 0;
}
.events-item-info-btn {
  display: block;
  position: relative;
  top: 30px;
}
.events-item-info-btn > a {
  line-height: 44px;
  vertical-align: middle;
  padding: 0 20px;
  color: #faa41f;
  background-color: #2942a0;
  font-size: 24px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0;
}

.events-item-info-btn > a.event-items-check-in{
  float: left;
}

.events-item-info-btn > a.event-items-btn {
  float: right;
  padding: 0 10px 0 7px;
}

.events-item-info-btn > a.event-items-btn img {
  vertical-align: middle;
  margin: 0 3px 1px 6px;
}

.events-item-info-btns > a:hover {
  color: #2942a0;
  background-color: #faa41f;
}

.events-item > a img{
  position: relative;
  top: 284px;
  float: right;
  margin-right: 20px;
}

/* upcoming-events end */

/* student-home2 end */
