/* общее start */
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

html {
  -webkit-text-size-adjust: 100%; 
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

body {
	margin: 0;
	font-size: 16px;
	font-family: 'Raleway-Regular';
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
	outline: none;
}
/* общее end */

.hidden {
  display: none;
}

.mfp-close-btn-in .mfp-close {
  display: none;
}

/* popup start */
.popup {
  width: 770px;
  margin: 30px auto;
  position: relative;
  background-color: #fff;
}

.popup-links {
  width: 100%;
  margin-bottom: 120px;
  font-size: 0;
}

.popup-links a {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  line-height: 70px;
  text-align: center;
  background-color: #2942a0;
  font-size: 28px;
  color: #ff9c00;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.popup-links a:hover {
  background-color: #fff;
  color: #2942a0;
}

.popup-links a:last-child {
  background-color: #ff9c00;
  color: #2942a0;
}

.popup-links a:last-child:hover {
  color: #ff9c00;
  background-color: #fff;
}

.popup-form {
  width: 660px;
  margin: 0 auto 25px;
}

.popup-form input {
  width: 100%;
  margin-bottom: 40px;
  background-color: transparent;
  border: 3px solid #b1b1b1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 0 30px;
  height: 70px;
  font-size: 24px;
  color: #2942a0;
}

.popup-form button {
  width: 100%;
  height: 70px;
  font-size: 32px;
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #2942a0;
  line-height: 32px;
  color: #ff9c00;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.popup-form button:hover {
  background-color: #ff9c00;
  color: #2942a0;
}

.popup-form p {
  margin: 10px 0 0;
  color: #2942a0;
}

.popup-or {
  margin: 0 auto 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  height: 50px;
  width: 50px;
  color: #fff;
  background-color: #c8c8c8;
  font-size: 18px;
  line-height: 50px;
}

.popup-login-links {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 660px;
}

.popup-login-links a {
  display: inline-block;
  width: 100%;
  line-height: 70px;
  color: #fff;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  background-color: #3b5998;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.popup-login-links a i {
  margin-left: 20px;
}

.popup-login-links a:hover {
  color: #2942a0;
  background-color: #ff9c00 !important;
}

.popup-login-links a:nth-child(2) {
  background-color: #0177b5;
}

.popup-login-links a:nth-child(3) {
  background-color: #d31a1a;
}

.popup-sign {
  width: 1600px;
  background-color: #fff;
  margin: 30px auto;
  position: relative;
  padding: 80px 60px 40px;
  overflow: hidden;
}

.popup-left {
  width: 50%;
  float: left;
}

.popup-left span {
  display: block;
  margin-bottom: 70px;
  font-size: 40px;
  color: #2942a0;
}

.popup-left .popup-form {
  margin: 0;
}

.popup-left .popup-form a {
  color: #2942a0;
  margin-top: 10px;
  display: inline-block;
}

.popup-right {
  width: 50%;
  float: right;
}

.popup-right span {
  display: block;
  font-size: 40px;
  text-align: center;
  color: #2942a0;
  margin-bottom: 70px;
}

.popup-sign .popup-or {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-45px, -50%);
  -moz-transform: translate(-45px, -50%);
  -ms-transform: translate(-45px, -50%);
  -o-transform: translate(-45px, -50%);
  transform: translate(-45px, -50%);
}
/* popup end */

