/* общее start */
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

html {
  -webkit-text-size-adjust: 100%; 
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

body {
	margin: 0;
	font-size: 16px;
	font-family: 'Raleway-Regular';
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
	outline: none;
}
/* общее end */

/* profile-header start */
.profile-header {
  width: 100%;
  background-image: url(../img/profile-header-bg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  margin-bottom: 120px;
}

.profile-header-content {
  width: 1200px;
  margin: auto;
}

.profile-img {
  width: 315px;
  height: 315px;
  float: left;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-top: 35px;
  float: left;
  margin-bottom: -70px;
}

.profile-header-info {
  width: 830px;
  float: right;
  margin-top: 100px;
}

.clear {
  width: 100%;
  height: 0;
  font-size: 0;
  clear: both;
}

.profile-header-info {
  color: #fff;
}

.profile-header-info span {
  font-size: 63px;
  display: block;
}

.profile-header-info p {
  font-size: 40px;
  margin: 0;
}

.profile-header-links {
  float: right;
}

.profile-header-links a {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  margin-left: 20px;
  text-align: center;
  line-height: 60px;
  color: #192d77;
  font-size: 30px;
  margin-top: -50px;
  vertical-align: top;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.profile-header-links a:hover {
  background-color: #192d77;
  color: #fff;
}

.profile-header-bar {
  width: 100%;
  height: 11px;
  border: 1px solid #fff;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 30px;
  overflow: hidden;
}

.profile-header-bar div {
  height: 9px;
  background-color: #2942a0;
}

.profile-header-create {
  float: right;
  margin-right: 50%;
  -webkit-transform: translate(600px, 0);
  -moz-transform: translate(600px, 0);
  -ms-transform: translate(600px, 0);
  -o-transform: translate(600px, 0);
  transform: translate(600px, 0);
  display: inline-block;
  background-color: #ff9c00;
  color: #253d98;
  line-height: 65px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 0 25px 0 65px;
  background-repeat: no-repeat;
  background-position: 20px center;
  background-image: url(../img/profile-header-create.png);
  font-size: 32px;
  margin-top: 20px;
  font-family: 'Raleway-Medium';
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.profile-header-create:hover {
  background-color: #253d98;
  color: #ff9c00;
}
/* profile-header end */

/* active-jobs start */
.active-jobs {
  margin-top: -80px;
}

.active-jobs > span {
  display: block;
  text-align: center;
  font-size: 48px;
  color: #253d98;
}

.job-search-filter {
  padding: 30px 20px;
  font-size: 22px;
  color: #292929;
  font-family: 'Raleway-Medium';
  margin: 30px auto 0;
  width: 1200px;
  border-top: 8px solid #ff9c00;
}

.job-search-filter a {
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  line-height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #292929;
  font-family: 'Raleway-Regular';
  padding: 0 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: transparent;
}

.job-search-filter a:hover,
.job-search-filter a.active {
  color: #fff;
  background-color: #2942a0;
}

.active-jobs-projects {
  width: 1200px;
  margin: 40px auto 0;
}
  
/* active-jobs-project start */ 
.active-jobs-project {
  width: 100%;
  border-bottom: 2px solid #ff9c00;
  padding-bottom: 50px;
  overflow: hidden;
  margin-bottom: 40px;
}

.active-jobs-project:last-child {
  border-bottom: none;
}

.active-jobs-project-left {
  width: 290px;
  float: left;
}

.active-jobs-project-logo {
  width: 170px;
  height: 170px;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 30px auto 50px;
  position: relative;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.active-jobs-project-logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 70%;
  max-width: 70%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.active-jobs-project-logo:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 210px;
  height: 210px;
  content: '';
  display: block;
  border: 5px dotted #2942a0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.active-jobs-project-left a {
  display: inline-block;
  width: 100%;
  line-height: 51px;
  border: 2px solid #192d77;
  color: #fff;
  background-color: #192d77;
  font-size: 22px;
  font-family: 'Raleway-Medium';
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.active-jobs-project-left a:hover {
  color: #192d77;
  background-color: #fff;
}

.active-jobs-project-content {
  width: 850px;
  float: right;
}

.active-jobs-project-content > span {
  display: block;
  margin-bottom: 20px;
  font-size: 40px;
  color: #253d98;
}

.active-jobs-project-content > p {
  margin: 0 0 10px;
  font-size: 22px;
  color: #292929;
  line-height: 40px;
}

.active-jobs-project-content > a {
  line-height: 30px;
  display: inline-block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #2942a0;
  color: #faa41f;
  padding: 0 15px;
}

.active-jobs-project-content > a:hover {
  background-color: #faa41f;
  color: #2942a0;
}

.active-job-deadline > span {
  text-align: right;
  display: block;
  width: 100%;
  color: #292929;
  font-size: 22px;
}

.active-job-deadline > div {
  position: relative;
  overflow: hidden;
  background-color: #afafaf;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  height: 9px;
  margin-top: 10px;
}

.active-job-deadline > div > div {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #2942a0;
}

.active-job-deadline p {
  margin: 15px 0 0;
  font-size: 24px;
  color: #192d77;
  font-family: 'Raleway-Medium';
}

.active-job-deadline p span {
  float: right;
  font-size: 32px;
}
/* active-jobs-project end */

/* active-jobs end */

