/* общее start */
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

html {
  -webkit-text-size-adjust: 100%; 
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

body {
	margin: 0;
	font-size: 16px;
	font-family: 'Raleway-Regular';
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
	outline: none;
}
/* общее end */

/* profile-header start */
.profile-header {
  width: 100%;
  background-image: url(../img/profile-header-bg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  margin-bottom: 120px;
}

.profile-header-content {
  width: 1200px;
  margin: auto;
}

.profile-img {
  width: 315px;
  height: 315px;
  float: left;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-top: 35px;
  float: left;
  margin-bottom: -70px;
}

.profile-header-info {
  width: 830px;
  float: right;
  margin-top: 100px;
}

.clear {
  width: 100%;
  height: 0;
  font-size: 0;
  clear: both;
}

.profile-header-info {
  color: #fff;
}

.profile-header-info span {
  font-size: 63px;
  display: block;
}

.profile-header-info p {
  font-size: 40px;
  margin: 0;
}

.profile-header-links {
  float: right;
}

.profile-header-links a {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  margin-left: 20px;
  text-align: center;
  line-height: 60px;
  color: #192d77;
  font-size: 30px;
  margin-top: -50px;
  vertical-align: top;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.profile-header-links a:hover {
  background-color: #192d77;
  color: #fff;
}

.profile-header-bar {
  width: 100%;
  height: 11px;
  border: 1px solid #fff;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 30px;
  overflow: hidden;
}

.profile-header-bar div {
  height: 9px;
  background-color: #2942a0;
}

.profile-header-create {
  float: right;
  margin-right: 50%;
  -webkit-transform: translate(600px, 0);
  -moz-transform: translate(600px, 0);
  -ms-transform: translate(600px, 0);
  -o-transform: translate(600px, 0);
  transform: translate(600px, 0);
  display: inline-block;
  background-color: #ff9c00;
  color: #253d98;
  line-height: 65px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 0 25px 0 65px;
  background-repeat: no-repeat;
  background-position: 20px center;
  background-image: url(../img/profile-header-create.png);
  font-size: 32px;
  margin-top: 20px;
  font-family: 'Raleway-Medium';
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.profile-header-create:hover {
  background-color: #253d98;
  color: #ff9c00;
}
/* profile-header end */

/* active-job start */
.active-job {
  width: 1200px;
  margin: -90px auto 0;
}

.active-job > span {
  display: block;
  text-align: center;
  font-size: 48px;
  color: #253d98;
  padding-bottom: 35px;
  border-bottom: 8px solid #ff9c00;
}

/* active-jobs-project start */ 
.active-jobs-project {
  width: 100%;
  border-bottom: 2px solid #ff9c00;
  padding-bottom: 50px;
  overflow: hidden;
  margin-bottom: 40px;
  margin-top: 35px;
}

.active-jobs-project-left {
  width: 290px;
  float: left;
}

.active-jobs-project-logo {
  width: 170px;
  height: 170px;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 30px auto 50px;
  position: relative;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.active-jobs-project-logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 70%;
  max-width: 70%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.active-jobs-project-logo:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 210px;
  height: 210px;
  content: '';
  display: block;
  border: 5px dotted #2942a0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.active-jobs-project-left a {
  display: inline-block;
  width: 100%;
  line-height: 51px;
  border: 2px solid #192d77;
  color: #fff;
  background-color: #192d77;
  font-size: 22px;
  font-family: 'Raleway-Medium';
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.active-jobs-project-left a:hover {
  color: #192d77;
  background-color: #fff;
}

.active-jobs-project-content {
  width: 850px;
  float: right;
}

.active-jobs-project-content > span {
  display: block;
  margin-bottom: 20px;
  font-size: 40px;
  color: #253d98;
}

.active-jobs-project-content > p {
  margin: 0 0 10px;
  font-size: 22px;
  color: #292929;
  line-height: 40px;
}

.active-jobs-project-content > a {
  line-height: 30px;
  display: inline-block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #2942a0;
  color: #faa41f;
  padding: 0 15px;
}

.active-jobs-project-content > a:hover {
  background-color: #faa41f;
  color: #2942a0;
}

.active-job-deadline > span {
  text-align: right;
  display: block;
  width: 100%;
  color: #292929;
  font-size: 22px;
}

.active-job-deadline > div {
  position: relative;
  overflow: hidden;
  background-color: #afafaf;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  height: 9px;
  margin-top: 10px;
}

.active-job-deadline > div > div {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #2942a0;
}

.active-job-deadline p {
  margin: 15px 0 0;
  font-size: 24px;
  color: #192d77;
  font-family: 'Raleway-Medium';
}

.active-job-deadline p span:last-child {
  float: right;
  font-size: 32px;
}

.active-job-info {
  width: 100%;
  margin: 0 auto 45px;
  overflow: hidden;
}

.active-job-date {
  float: left;
  font-size: 24px;
  color: #253d98;
}

.active-job-date span {
  display: block;
  font-size: 32px;
  margin-bottom: 10px;
}

.active-job-payment {
  display: block;
  float: right;
  font-size: 24px;
  color: #253d98;
  text-align: center;
}

.active-job-payment span {
  display: inline-block;
  padding: 0 20px;
  color: #fff;
  font-size: 28px;
  line-height: 60px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #2942a0;
  margin-top: 10px;
}
/* active-jobs-project end */

.active-job-project {
  font-size: 21px;
  color: #292929;
  line-height: 40px;
  font-family: 'Raleway-Medium';
  margin-bottom: 80px;
}

.active-job-project span {
  display: block;
  margin-bottom: 10px;
  font-size: 32px;
  font-family: 'Raleway-Regular';
  color: #253d98;
}

.active-job-project p {
  margin: 0 0 30px;
}

.active-job-project p:first-child {
  font-size: 24px;
}

.active-job-project p:first-child span {
  font-size: 40px;
}

.active-job-buttons {
  width: 100%;
  overflow: hidden;
  padding-bottom: 40px;
  border-bottom: 8px solid #ff9c00;
}

.active-job-buttons a {
  width: 285px;
  line-height: 65px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 32px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  text-align: center;
  font-family: 'Raleway-Medium';
}

.active-job-buttons a:first-child {
  color: #fff;
  background-color: #2942a0;
  float: left;
}

.active-job-buttons a:first-child:hover {
  background-color: #ff9c00;
  color: #2942a0;
}

.active-job-buttons a:last-child {
  color: #253d98;
  background-color: #ff9c00;
  float: right;
}

.active-job-buttons a:last-child:hover {
  background-color: #253d98;
  color: #fff;
}

/* active-job-rate start */
.active-job-rate {
  padding: 40px 0;
  border-bottom: 8px solid #ff9c00;
}

.active-job-rate > span {
  display: inline-block;
  font-size: 40px;
  color: #253d98;
}

.active-job-rate > p {
  margin: 0;
  float: right;
  font-size: 24px;
  color: #292929;
  font-family: 'Raleway-Medium';
}

.active-job-rate-content {
  margin-top: 70px;
  overflow: hidden;
}

.active-job-rate-items {
  width: 800px;
  float: left;
}

.active-job-rate-mark {
  float: right;
  text-align: right;
  width: 350px;
  font-size: 95px;
  color: #2942a0;
  font-family: 'Raleway-Medium';
  line-height: 100px;
}

.active-job-rate-mark span {
  display: inline-block;
  vertical-align: middle;
}

.active-job-rate-mark i {
  color: #ff9c00;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: -20px;
  margin-right: -10px;
}

.active-job-rate-item {
  width: 100%;
  margin-bottom: 40px;
  overflow: hidden;
  vertical-align: middle;
}

.active-job-rate-item-title {
  font-size: 24px;
  color: #292929;
  font-family: 'Raleway-Medium';
  width: 125px;
  float: left;
}

.active-job-rate-item-stars {
  width: 270px;
  color: #ff9c00;
  font-size: 25px;
  float: left;
}

.active-job-rate-item-stars i {
  margin-right: 10px;
}

.active-job-rate-item-bar {
  width: 340px;
  height: 14px;
  display: inline-block;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  position: relative;
  background-color: #2942a0;
  overflow: hidden;
  margin-top: 8px;
}

.active-job-rate-item-bar div {
  position: absolute;
  height: 100%;
  background-color: #ff9c00;
}

.active-job-rate-form {
  overflow: hidden;  
}

.active-job-rate-form span {
  display: block;
  margin-bottom: 30px;
  font-size: 32px;
  color: #253d98;
}

.active-job-rate-form textarea {
  width: 100%;
  height: 150px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #5666ae;
  padding: 10px;
  font-family: 'Raleway-Regular';
  font-size: 18px;
  resize: none;
}

.active-job-rate-form button {
  display: inline-block;
  float: right;
  margin-top: 25px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  background-color: #192d77;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 0 110px;
  font-size: 22px;
  font-family: 'Raleway-Medium';
  border: none;
  line-height: 55px;
  cursor: pointer;
}

.active-job-rate-form button:hover {
  color: #192d77;
  background-color: #ff9c00;
}
/* active-job-rate end */

/* active-job-chat start */
.active-job-chat {
  padding: 40px 0;
}

.active-job-chat > span {
  display: inline-block;
  font-size: 32px;
  color: #253d98;
}

.active-job-chat > p {
  margin: 0;
  float: right;
  font-size: 22px;
  color: #292929;
}

.active-job-chat-items {
  margin-top: 50px;
}

.active-job-chat-item {
  margin-bottom: 50px;
}

.active-job-chat-item-title {
  width: 100%;
  margin-bottom: 20px;
}

.active-job-chat-item-title:after {
  width: 100%;
  content: '';
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
}

.active-job-chat-item-title div {
  width: 95px;
  height: 95px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  float: left;
  margin-right: 25px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.active-job-chat-item-title img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 80%;
  max-width: 80%;
}

.active-job-chat-item-title span {
  display: block;
  float: left;
  font-size: 24px;
  color: #2942a0;
  font-family: 'Raleway-Medium';
  width: 600px;
  width: calc(100% - 120px);
  margin-top: 25px;
}

.active-job-chat-item-title p {
  margin: 0;
  float: left;
  font-size: 22px;
  color: #333;
  width: 600px;
  width: calc(100% - 120px);
}

.active-job-chat-item-desc {
  font-size: 22px;
  font-family: 'Raleway-Medium';
  line-height: 40px;
}

.active-job-chat-item.active-job-chat-item-answer {
  padding-left: 110px;
}

.active-job-chat-form {
  overflow: hidden;  
}

.active-job-chat-form span {
  display: block;
  margin-bottom: 20px;
  font-size: 24px;
  color: #253d98;
}

.active-job-chat-form textarea {
  width: 100%;
  height: 150px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #5666ae;
  padding: 10px;
  font-family: 'Raleway-Regular';
  font-size: 18px;
  resize: none;
}

.active-job-chat-form button {
  display: inline-block;
  float: right;
  margin-top: 25px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  background-color: #192d77;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 0 110px;
  font-size: 22px;
  font-family: 'Raleway-Medium';
  border: none;
  line-height: 55px;
  cursor: pointer;
}

.active-job-chat-form button:hover {
  color: #192d77;
  background-color: #ff9c00;
}
/* active-job-chat end */

/* active-job end */
