*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

html {
  -webkit-text-size-adjust: 100%; 
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

body {
	margin: 0;
	font-size: 16px;
	font-family: 'Raleway-Regular';
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
	outline: none;
}

/* menu start */
.menu {
  width: 100%;
  position: relative;
  background-color: #2942a0;
}

.menu:before {
  display: block;
  content: '';
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #192d77;
  position: absolute;
}

.menu-content {
  width: 1200px;
  margin: auto;
  font-size: 0;
  position: relative;
}

.menu-profile {
  display: inline-block;
  line-height: 100px;
  background-color: #192d77;
  border-right: 1px solid #192d77;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 300px;
  height: 100px;
}

.menu-profile:hover {
  background-color: #2942a0;
}

.menu-profile div {
  display: inline-block;
  width: 75px;
  height: 75px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  margin-right: 10px;
  vertical-align: middle;
  margin-top: -15px;
  margin-left: 10px;
} 

.menu-profile span {
  display: inline-block;
  color: #fff;
  font-size: 24px;
}

.menu-profile span:after {
  display: inline-block;
  content: '';
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 8px solid #fff;
  border-bottom: 5px solid transparent;
  margin-left: 15px;
  vertical-align: middle;
}

.menu-link {
  display: inline-block;
  line-height: 100px;
  padding: 0 25px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #2942a0;
  color: #fff;
  font-size: 24px;
  border-right: 1px solid #192d77;
  position: relative;
}

.menu-link:hover {
  background-color: #192d77;
}

.menu-link span {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #ff9c00;
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 24px;
  color: #091541;
  line-height: 24px;
  height: 28px;
  min-width: 28px;
  padding: 0 2px;
  text-align: center;
}
/* menu end */

/* jobs-search start */
.jobs-search {
  width: 100%;
  background-color: #8d97b9;
  padding: 60px 0 70px;
  background-image: url(../img/jobs-search-bg.png);
  background-repeat: no-repeat;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
  background-position: -200px 0;
}

.jobs-search form {
  width: 960px;
  margin: auto;
}

.jobs-search form input {
  height: 80px;
  background-color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
  margin-bottom: 20px;
  font-size: 24px;
  color: #6a6a6a;
  padding: 0 20px 0 60px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
  background-image: url(../img/jobs-search-input.jpg);
  background-repeat: no-repeat;
  background-position: 15px center;
}

.jobs-search .dropdown {
  width: 100%;
  background-color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
  margin-bottom: 30px;
}

.jobs-search .dropdown .selected {
  height: 80px;
  padding: 0 40px 0 20px;
  line-height: 80px;
  font-size: 24px;
  color: #2b2b2b;
}

.jobs-search .dropdown .selected::after {
  display: none;
}

.jobs-search .dropdown ul {
  padding: 0;
  margin: 0;
}

.jobs-search .dropdown li {
  padding: 15px 20px;  
}

.jobs-search .dropdown li.focus {
  background-color: #8d97b9;
  color: #2b2b2b;
}

.jobs-search .dropdown li.active {
  font-weight: normal;
  background-color: #8d97b9;
}

.jobs-search a {
  font-size: 32px;
  color: #091541;
  border-bottom: 2px solid #091541;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.jobs-search a:hover {
  border-bottom: 2px solid transparent;
}

.jobs-search button {
  display: inline-block;
  float: right;
  margin-top: -10px;
  background-color: #2942a0;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0 60px;
  border: none;
  color: #ff9c00;
  font-size: 32px;
  line-height: 70px;
  cursor: pointer;
}

.jobs-search button:hover {
  background-color: #ff9c00;
  color: #2942a0;
}

/* jobs-search end */