/* общее start */
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

html {
  -webkit-text-size-adjust: 100%; 
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

body {
	margin: 0;
	font-size: 16px;
	font-family: 'Raleway-Regular';
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
	outline: none;
}
/* общее end */

/* job-search-results start */
.job-search-results {
  padding: 35px 0;
}

.job-search-results > span {
  display: block;
  font-size: 48px;
  color: #253d98;
  text-align: center;
}

.job-search-filter {
  padding: 45px 20px;
  font-size: 22px;
  color: #292929;
  font-family: 'Raleway-Medium';
  margin: auto;
  width: 1200px;
  border-bottom: 8px solid #ff9c00;
}

.job-search-filter a {
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  line-height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #292929;
  font-family: 'Raleway-Regular';
  padding: 0 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: transparent;
}

.job-search-filter a:hover,
.job-search-filter a.active {
  color: #fff;
  background-color: #2942a0;
}

.employees-items {
  margin: 50px auto 0 auto;
  width: 1200px;
  height: 400px;
}

.employees-items .employees-item:first-child {
  margin-left: 0;
}

.employees-items .employees-item:last-child {
  margin-right: 0;
}

/* employees-item start */
.employees-item {
  display: inline-block;
  vertical-align: top;
  width: 215px;
  margin: 0 13px;
}

.employees-item-img {
  width: 145px;
  height: 145px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto 30px;
  position: relative;
}

.employees-item-img:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 170px;
  height: 170px;
  content: '';
  display: block;
  border: 5px dotted #2942a0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.employees-item-rating {
  text-align: center;
  margin-bottom: 10px;
  color: #ff9c00;
}

.employees-item-rating i {
  vertical-align: middle;
}
  
.employees-item-rating span {
  font-size: 24px;
  color: #2942a0;
  margin-left: 10px;
  vertical-align: middle;
  line-height: 18px;
}

.employees-item > span {
  font-size: 24px;
  display: block;
  text-align: center;
  color: #22409a;
  margin-bottom: 10px;
}

.employees-item p {
  margin: 0 0 10px;
  font-size: 18px;
  color: #292929;
  line-height: 24px;
  text-align: center;
}

.employees-item-links {
  text-align: center;
}

.employees-item-links a {
  width: 80px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  line-height: 30px;
  background-color: #ff9c00;
  font-size: 16px;
  color: #2942a0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 0 3px;
}

.employees-item-links a:hover {
  background-color: #2942a0;
  color: #ff9c00;
}

.employees-item-links a:last-child {
  background-color: #2942a0;
  color: #ff9c00;
}

.employees-item-links a:last-child:hover {
  background-color: #ff9c00;
  color: #2942a0;
}
/* employees-item end */

/* deselect start */

.deselect {
  width: 1200px;
  height: 25px;
  margin: 50px auto;
}

.deselect a {
  line-height: 15px;
  font-size: 31px;
  color: #ff9c00;
  background: #22409a;
  padding: 10px 40px;
  margin-right: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.deselect a:last-child {
  margin-right: 0;
}

.deselect a:hover {
  background: none;
  color: #22409a;
  transition: all .3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
/* deselect start */

/* checkbox start */

.cont {
  display: inline-block;;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
  left: 5px;
  margin: 2px 0;
  /*display: none;*/
}

.cont input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 27px;
  width: 27px;
  background-color: #fff;
  border: 2px solid #22409a;
  border-radius: 3px;
}

.cont:hover input ~ .checkmark {
  background-color: #fff;
  border: 2px solid #22409a;
  border-radius: 3px;
}

.cont input:checked ~ .checkmark {
  background-color: #fff;
  border: 2px solid #22409a;
  border-radius: 3px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.cont input:checked ~ .checkmark:after {
  display: inline;
}

.cont .checkmark:after {
  left: 5px;
  top: 0px;
  width: 11px;
  height: 14px;
  border: solid #22409a;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* checkbox end */

/* search-results end */
